.toolbarMenu{
    color: danger;
    height: 150px;
}

.imgPerfil{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 80px;
    width: 80px   
}     

ion-item{
    size: 50sp;
}