#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}
.toolbarCima {
  height: 60px;
}

.img_perfil {
  width: 100%;
  height: 200px;
}

.icone_busca {
  padding-right: 20px;
  width: 30px;
  height:
   30px;
}

.button_toolbar {
  width: 33.3%;
  height: 40px;
  background-color: white;
  border: solid 0 1px 1px 0;
 
}